{% extends 'base.html' %}
{% block content %}
<main class="main-content">

					<div class="row">
						<div class="blog-post col-md-8">
							<div class="contact-info">
								<div class="map">

								</div>
								<div class="contact-detail">
									<address>
										<img src="images/icon-map-marker.png" alt="">

										Company Name INC. <br> 429 Avenue Street <br> Omaha
									</address>
									<a href="tel:+1983412391" class="phone"><img src="images/icon-mobile.png" alt="">+1 983 412 391</a>
									<a href="mailto:contact@companyname.com" class="email"><img src="images/icon-envelope.png" alt="">contact@companyname.com</a>
								</div>
							</div>
						</div>
						<div class="aside siderbar col-md-4">
							<div class="contact-form">
								<form action="#">
									<h3>Contact Form</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, quia labore voluptatibus in </p>
									<input type="text" placeholder="Your name...">
									<input type="text" placeholder="Website...">
									<input type="text" placeholder="Email...">
									<textarea placeholder="Message..."></textarea>
									<input type="Submit" value="Send Message">
								</form>
							</div>
						</div>
					</div>

				</main>
{% endblock %}