{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <div class="row">
        <div class="blog-post col-md-9">
            <article class="post">
                <figure class="featured-image"><img src="{{single_post.post_display.url}}" alt=""></figure>
                <div class="entry-detail">
                    <h2 class="entry-title"><a href="#">{{single_post.title}}</a></h2>
                    <div class="entry-meta"><span class="entry-date"><img src="images/icon-calendar.png" alt="">10 September 2014</span><span
                            class="comments-count"><img src="images/icon-comment.png" alt="">3 Comments</span></div>
                    <div class="entry-content">
                        <p> {{single_post.content|safe}} </p>
                    </div>
                </div>

                <section class="comment-list">
                    <h2>Comments (3)</h2>

                    <ul class="comments">
                        <li class="comment">
                            <footer>
                                <div class="comment-author pull-left">
                                    <h4 class="fn">Howard Brandson</h4>
                                    / <a href="#">www.website-name.com</a>
                                </div>
                                <div class="comment-date pull-right">21 Sep 2014, 11:00 AM</div>
                            </footer>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos, ipsum,
                                    necessitatibus praesentium quasi eaque, itaque accusantium sapiente enim vitae vel
                                    soluta facere ipsa est molestias. Eligendi nemo nihil doloremque!</p>
                            </div>
                        </li>
                        <li class="comment">
                            <footer>
                                <div class="comment-author pull-left">
                                    <h4 class="fn">Howard Brandson</h4>
                                    / <a href="#">www.website-name.com</a>
                                </div>
                                <div class="comment-date pull-right">21 Sep 2014, 11:00 AM</div>
                            </footer>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos, ipsum,
                                    necessitatibus praesentium quasi eaque, itaque accusantium sapiente enim vitae vel
                                    soluta facere ipsa est molestias. Eligendi nemo nihil doloremque!</p>
                            </div>
                        </li>
                        <li class="comment">
                            <footer>
                                <div class="comment-author pull-left">
                                    <h4 class="fn">Howard Brandson</h4>
                                    / <a href="#">www.website-name.com</a>
                                </div>
                                <div class="comment-date pull-right">21 Sep 2014, 11:00 AM</div>
                            </footer>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos, ipsum,
                                    necessitatibus praesentium quasi eaque, itaque accusantium sapiente enim vitae vel
                                    soluta facere ipsa est molestias. Eligendi nemo nihil doloremque!</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="comment-form">
                    <h3>Add a comment</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" placeholder="Your name...">
                                <input type="text" placeholder="Website...">
                                <input type="text" placeholder="Email...">
                            </div>
                            <div class="col-md-7">
                                <textarea name="" placeholder="Comments..."></textarea>
                                <div class="text-right">
                                    <input type="submit" value="Add Comment">
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </div>
        <div class="aside siderbar col-md-3">
            <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="bullet">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>consectetur adipisicing elit</li>
                    <li>Atque iure dolores voluptatum</li>
                    <li>molestiae eum, consequatur</li>
                    <li>tempora rem praesentium</li>
                    <li>quaerat placeat omnis</li>
                    <li>dolorem culpa vitae id</li>
                </ul>
            </div>

            <div class="widget recent-posts-widget">
                <h3 class="widget-title">Recent Posts</h3>
                <ul>
                    <li>
                        <h4 class="entry-title"><a href="#">Neque porro quisquam</a></h4>
                        <small class="date">16 September 2014</small>
                    </li>
                    <li>
                        <h4 class="entry-title"><a href="#">Voluptatem accusantium</a></h4>
                        <small class="date">16 September 2014</small>
                    </li>
                    <li>
                        <h4 class="entry-title"><a href="#">Numquam eius modi tempora</a></h4>
                        <small class="date">16 September 2014</small>
                    </li>
                    <li>
                        <h4 class="entry-title"><a href="#">Aliquid commodi autem</a></h4>
                        <small class="date">16 September 2014</small>
                    </li>
                </ul>
            </div>

            <div class="widget recent-photos-widget">
                <h3 class="widget-title">Recent Photos</h3>
                <a href="#"><img src="dummy/small-thumbnail-1.jpg" alt=""></a>
                <a href="#"><img src="dummy/small-thumbnail-2.jpg" alt=""></a>
                <a href="#"><img src="dummy/small-thumbnail-3.jpg" alt=""></a>
                <a href="#"><img src="dummy/small-thumbnail-4.jpg" alt=""></a>
                <a href="#"><img src="dummy/small-thumbnail-5.jpg" alt=""></a>
                <a href="#"><img src="dummy/small-thumbnail-6.jpg" alt=""></a>
            </div>
        </div>
    </div>

</main>
{% endblock %}