{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<main class="main-content">

    <div class="filter-links dashboard-nav">
        <a href="{% url 'dashboard' %}" class="current wow fadeInRight">My Articles</a>
        <a href="{% url 'add_article' %}" class="wow fadeInRight" data-wow-delay=".2s">Add Article</a>
        {% if user.is_author %}
        <a href="{% url 'about' %}" class="wow fadeInRight" data-wow-delay=".4s">My Details</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'others' %}" class="wow fadeInRight" data-wow-delay=".6s">Banners</a>
        {% endif %}
    </div>
    {% block dash %}
    {% endblock %}
</main>
{% endblock %}